/* 초기화 */

*,
body,
h1,
h2,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* 공통 스타일 */

body {
  min-height: 100vh;
  background-color: #fdf6f1;
  font-family: "NanumBarunGothic";
  margin: 0 30px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

:root {
  font-size: 10px;
  --main-bg-color: #fde3a7;
  --box-hover-color: #fefad4;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2.1rem;
}

a,
p,
span {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
}

/* 고정 바 */

.fixedBar {
  background-color: var(--main-bg-color);
  position: fixed;
  left: 0px;
  top: 0px;
  /* text-align: center; */
  height: 50px;
  width: 100%;
  z-index: 999;
}

.fixedBar a {
  letter-spacing: 10px;
  /* font-size: 1rem; */
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* contents */

.study-log-date {
  margin: 100px 0 30px;
  display: inline-block;
  position: relative;
}

.study-log-date::before {
  content: " ";
  height: 0.8rem;
  width: 100%;
  background-color: var(--main-bg-color);
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.study-log-contents {
  background-color: white;
  border: 4px solid var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 100px;
}

.study-log-contents-day {
  border-bottom: 6px solid var(--main-bg-color);
  display: inline-block;
}

.study-log-tag {
  /* border: 3px solid pink; */
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--main-bg-color);
  font-size: 1.3rem;
}

.study-log-main-text {
  margin: 20px 0;
}

.study-log-main-text p {
  margin: 20px 0;
}

.study-log-main-text img {
  margin: 20px 0;
}

.code-section {
  border: 3px solid plum;
  border-radius: 30px;
  margin: 20px 0;
  padding: 0 20px;
  font-size: 1.8rem;
  overflow: scroll;
}

img {
  width: 100%;
  margin-bottom: 30px;
}

.footer {
  padding: 40px;
  height: 30px;
}
