/* contents */

.workTitle {
  margin: 100px 0;
  display: inline-block;
  position: relative;
}

.workTitle::before {
  content: " ";
  height: 0.8rem;
  width: 100%;
  background-color: var(--main-bg-color);
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.workNav {
  display: flex;
  flex-direction: column;
}

.workNav li {
  background-color: white;
  border: 4px solid var(--main-bg-color);
  border-radius: 20px;
  height: 100px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.workNav li:hover {
  background-color: var(--box-hover-color);
}

.workItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.workItem:active {
  color: var(--main-bg-color);
}

.footer {
  padding: 40px;
  height: 30px;
}

@media screen and (max-width: 629px) {
  /* .wrapper {
    padding: 0 20px;
  } */
  .workNav {
    word-wrap: break-word;
  }
}
