/* 초기화 */

html,
body,
h1,
p,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 공통스타일 */

.wrapper {
  width: 620px;
  margin: 0 auto;
  border: 3px solid black;
}

/* 스타일 */

.header-title {
  background-color: pink;
}

.content {
  position: relative;
  border: 3px solid yellow;
  display: inline-block;
}

.content-title {
  border: 3px solid purple;
}

.content-item {
  position: absolute;
  top: 100px;
  left: 0;
  border: 3px solid powderblue;
  opacity: 0;
}

.visible {
  opacity: 1;
}
