/* 초기화 */

html,
body,
h1,
p,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 공통스타일 */

:root {
  font-size: 10px;
  --content-title-color: #fcca26;
  --content-item-text-color: #000000;
  --content-item-bg-color: #ffffff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.9rem;
}

.fas {
  font-size: 7rem;
}

.wrapper {
  max-width: 620px;
  margin: 0 auto;
}

body {
  background-color: #f7f1e1;
}

.content.show {
  height: 95vh;
  display: block;
  color: var(--content-title-color);
  background-color: #ffefba;
  border-radius: 20px;
}

.btn-container.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  opacity: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-no {
  text-align: end;
  color: var(--content-item-text-color);
  font-size: 1.5rem;
}

/* 스타일 */

::selection {
  background-color: yellow;
}

.content {
  padding: 20px;
}

.content-title {
  cursor: pointer;
  text-align: center;
  padding-bottom: 20px;
}

.content-title:hover {
  color: var(--content-title-color);
}

.content-item {
  display: none;
  background-color: var(--content-item-bg-color);
  color: var(--content-item-text-color);
  border-radius: 20px;
  height: 80vh;
  padding: 20px;
  overflow: scroll;
}

.content-item h2 {
  text-align: center;
}

.content-item p {
  line-height: 1.5;
  padding-top: 20px;
}

.visible {
  display: block;
  scroll-behavior: smooth;
}

.btn-container {
  opacity: 0;
}
