/* 초기화 */

*,
h1,
h2,
ul,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  all: unset;
  box-sizing: border-box;
}

/* 공통스타일 */

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
}

.slide-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

.search-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

:root {
  font-size: 10px;
}

.header-menu-item a {
  font-size: 2rem;
}

.header-lang-item {
  font-size: 1.3rem;
}

.header-lang-container {
  vertical-align: middle;
}

.quick-menu-item {
  font-size: 2.4rem;
}

.media-center-title {
  font-size: 4.8rem;
}

.main-news-item a .item-inner-text {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.search-title {
  font-size: 4.8rem;
  color: #ffffff;
}

.search-box-item {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}

.search-bar {
  font-size: 2.2rem;
}

.footer-menu-item {
  font-size: 1.8rem;
}

.footer-menu-item.bold {
  font-weight: bold;
}

/* 이미지 */

/* header 로고 사진 */
.header-logo {
  height: 48px;
  width: 102px;
}

/* footer 로고 사진 */
.footer-logo {
  height: 56px;
  width: 120px;
}

/* 언어 선택 아이콘 */
.icon-lang {
  width: 24px;
  vertical-align: middle;
}

/* 검색 아이콘 */
.icon-search {
  width: 34px;
  vertical-align: middle;
}

/* 메뉴 아이콘 */
.btn-right-menu {
  width: 34px;
  vertical-align: middle;
}

/* 퀵메뉴 아이콘 */
.quick-menu img {
  width: 64px;
  vertical-align: middle;
  padding-right: 10px;
}

/* 미디어센터 뉴스 미리보기 이미지 */
.main-news-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-news-item.first {
  background-image: url(/cc/images/ds/media/media-1.jpeg);
}

.main-news-item.second {
  background-image: url(/cc/images/ds/media/media-2.jpeg);
}

.main-news-item.third {
  background-image: url(/cc/images/ds/media/media-3.jpeg);
}

.main-news-item.fourth {
  background-image: url(/cc/images/ds/media/media-4.jpeg);
}

.main-news-item.fifth {
  background-image: url(/cc/images/ds/media/media-5.jpeg);
}

.main-news-item.sixth {
  background-image: url(/cc/images/ds/media/media-6.jpeg);
}

/* 무엇을 찾으시나요 작은 상자들의 > 아이콘 */
.search-box-item::after {
  content: url(/cc/images/ds/search/icon-arrow-white.png);
  width: 100%;
  padding-right: 16px;
}

/* 스타일 */

/* header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid pink; */
  height: 88px;
}

.header-menu-container {
  display: flex;
  /* border: 3px solid purple; */
}

.header-menu-item {
  /* border: 3px solid sandybrown; */
  width: 130px;
}

.header-menu-item a {
  /* border: 3px solid yellow; */
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.header-lang-container {
  display: inline-block;
}

.header-lang-item {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 14px;
  margin-right: 14px;
}

/* section-1 */
/* 슬라이드 부분, 퀵메뉴 */

.main-carousel-container {
  border: 3px solid thistle;
  height: 80vh;
  position: relative;
}

.carousel-box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translate(-50%, 0);
  left: 50%;
}

.carousel-box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.quick-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quick-menu-item {
  padding: 20px 0;
}

.quick-menu-item a {
  padding: 30px 0;
}

.carousel-btn {
  /* border: none; */
  background-color: rgba(255, 255, 255, 0.55);
  position: absolute;
  width: 100px;
  height: 10px;
  cursor: pointer;
}

.carousel-btn:hover {
  background-color: #fff;
}

.carousel-btn-first {
  bottom: 50px;
  left: 50px;
}

.carousel-btn-second {
  bottom: 50px;
  left: 155px;
}

.carousel-btn-third {
  bottom: 50px;
  left: 260px;
}

/* carousel */

.carousel-box {
  opacity: 0;
}

.active {
  opacity: 1;
}

/* section-2*/
/* 미디어센터 */

.main-media-container {
  /* border: 3px solid purple; */
  padding: 144px 60px;
}

.media-center {
  padding-bottom: 72px;
}

.main-news-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  /* border: 3px solid palevioletred; */
}

.main-news-item {
  /* border: 3px solid paleturquoise; */
  width: calc(33.33% - 18px);
  height: 300px;
  margin-bottom: 18px;
}

.main-news-item a {
  /* border: 3px solid yellow; */
  display: inline-block;
  height: 100%;
  width: 100%;
}

.main-news-item a {
  position: relative;
  overflow: hidden;
}

.main-news-item a .item-gradation {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6965161064425771) 0%,
    rgba(0, 0, 0, 0.23993347338935578) 42%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-news-item a .item-inner-text {
  position: relative;
  top: 64%;
  left: 0;
  padding: 20px;
  /* border: 3px solid sandybrown; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2;
  height: 36%;
  z-index: 2;
}

.main-news-item a .item-box {
  width: 100%;
  height: 38%;
  background-color: #008765;
  position: absolute;
  bottom: -108px;
}

.main-news-item a .item-box {
  transition: bottom 0.3s ease-in-out;
}

.main-news-item:hover .item-box {
  bottom: 0;
}

/* section-3 */
/* 무엇을 찾으시나요? */

.main-search-container {
  background-color: #173beb;
  padding: 100px 60px;
  display: flex;
  justify-content: space-between;
  /* margin: 0 20px; */
}

.search-container {
  /* border: 3px solid goldenrod; */
  width: 46%;
}

.search-bar {
  width: 100%;
  background-color: #fff;
  border: none;
  margin-top: 44px;
  padding: 10px 10px 10px 16px;
}

.search-box-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 54%;
  /* border: 3px solid greenyellow; */
  /* padding: 0 10px; */
}

.search-box-item {
  background-color: #1a2aaf;
  margin: 0 10px 9px 0;
}

.search-box-item:hover {
  background-color: #ffffff;
  color: #222222;
}

.search-box-item a {
  display: inline-block;
  padding: 16px 10px 16px 16px;
}

/* footer */

.footer-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* border: 3px solid khaki; */
  margin-top: 32px;
  /* overflow: hidden; */
}

.footer-logo {
  float: left;
  /* border: 3px solid greenyellow; */
  margin: 40px 0;
}

.footer-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  /* border: 3px solid green; */
  height: 136px;
}

.footer-menu-item {
  /* border: 3px solid indianred; */
  width: 16%;
  text-align: center;
  height: 100%;
}

.footer-menu-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* border: 3px solid tomato; */
  line-height: 8;
}

.footer-menu-item :hover {
  color: #0e2ac9;
}
