* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dff1f9;
}

#calculator {
  padding: 20px;
  background-color: #374353;
  border-radius: 40px;
}

.screen {
  border: 10px inset #53606e47;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.screen .calculator__display--bare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
  padding-right: 8px;
  font-size: 35px;
  color: #e9e9e9;
}

.calculator__equal,
.calculator__result {
  color: grey;
}

.calculator__equal,
.calculator__operator {
  margin: 0 10px;
}

.screen .calculator__display--for-advanced {
  display: none;
  position: absolute;
  top: 29px;
  right: 8px;
  font-size: 35px;
  color: #ffa89e;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(5, 65px);
  grid-gap: 16px;
}

.button-wrapper button {
  border-radius: 22px;
  border: none;
  background-color: #374353;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: -5px -5px 7px -1px #7f879047, 4px 4px 6px 1px rgb(0 0 0 / 20%);
}

.button-wrapper button:hover {
  transform: scale(0.95);
}

.button-wrapper button:active {
  transform: scale(0.9);
  background-color: #2d3949;
}

.button-wrapper button.operator.calculate {
  grid-column: 4/5;
  grid-row: 4/6;
}

.button-wrapper button.number.zero {
  grid-column: 1/3;
  grid-row: 5/6;
}

.button-wrapper .number,
.button-wrapper .decimal,
.button-wrapper .delete {
  color: #e9e9e9;
}

.button-wrapper .operator {
  color: #859092;
}

.button-wrapper .clear {
  color: #ffa89e;
}
